@font-face {
  font-family: SiteFont;
  src: url(../assets/BoomerTantrum-j88y.ttf);
}
body {
  background: #555;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #555;
}
header {
  background: #0000;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
header.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5vh;
}
div.box {
  position: absolute;
  top: 10vh;
  bottom: 10vh;
  left: 10vh;
  right: 10vh;
  background: no-repeat 10% bottom #464646;
  background-size: 20%;
}
ul.navigation {
  display: grid;
  grid-template-columns: repeat(9, minmax(245px, 1fr));
}
ul.navigation li {
  list-style: none;
}
ul.navigation a:link {
  color: #eee;
}
ul.navigation a:visited {
  color: #eee;
}
ul.navigation a:hover {
  color: #eee;
}
ul.navigation a {
  display: block;
  text-decoration: none;
  font-family: SiteFont;
  font-size: 5vh;
  text-transform: uppercase;
  text-align: center;
}
.logo {
  position: absolute;
  bottom: 3%;
  right: 20%;
}
.door {
  position: absolute;
  bottom: 0%;
  left: 10%;
}
#lamp {
  position: absolute;
  top: 0;
  right: 7%;
}
