@import "brands.less";
//Variables
@background-color:#555;
@font-family:"Calibri";

//Site
@font-face {
  font-family: SiteFont;
  src: url(../assets/BoomerTantrum-j88y.ttf);
}

body{
  background:#555;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: @background-color;
}

header{
  background: #0000;

  &::after{
    content: '';
    display: table;
    clear: both;
  }
}
//Navbar Object
  .nav{
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:5vh;
    z-index: 1;
  }
//Navbar Text
.navigation{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(120px, 1fr));
    list-style: none;

    a{
     color: #eee;
     display:block;
     text-decoration:none;
     font-family:SiteFont;
     font-size:2vw;
     text-transform:uppercase;
     text-align:center;
    }

    a:hover{
    color:#262626;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #555;
    transition: .08s ease-in;
  }
}
//Icon Placment
.icons{
  position: absolute;
  text-align: bottom;
  z-index: 2;
  bottom: 1%;
  left: 2%;
}
//Icon Funtions
 .smlinks{
   li{
    display:inline-block;
    list-style:none;
    margin: 18px;
  }
   a{
    margin: auto;
    font-size: 30px;
    color: #eee;
  }
  a:hover{
    color:#262626;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #555;
    transition: .08s ease-in;
  }
 }
//Logo Object
.logo{
  position: absolute;
  bottom: 2%;
  right: 20%;
}
//Door Object
.door{
  position: absolute;
  bottom: 0%;
  left: 10%;
}
//Door and Logo placement
.box{
  position:absolute;
  top:10vh;
  bottom:10vh;
  left:10vh;
  right:10vh;
  background:no-repeat 10% bottom #464646;
  background-size:20%;

  h1{
  position: absolute;
  font-family: SiteFont;
  font-size: 9vh;
  bottom: 3.5%;
  right: 19%;
  }
}
//Lamp Object
#lamp{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
